NEXT_PUBLIC_SITE_URL=https://shieldworks.com.br
NEXT_PUBLIC_LATTES_URL=[Inserir link do Curriculo Lattes]
NEXT_PUBLIC_ORCID_URL=[Inserir ORCID]
NEXT_PUBLIC_GOOGLE_SCHOLAR_URL=[Inserir Google Scholar]
NEXT_PUBLIC_RESUME_PDF_URL=[Inserir curriculo resumido em PDF]
